* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  height: 100vh;
  background-color: #2b2f37;
}

/*Main container*/

header > h1 {
  text-align: center;
  color: ghostwhite;
}

.main-container {
  text-align: center;
}

/* Input field */

.task-input-container {
  padding: 10px;
}

#taskName {
  font-size: 1rem;
  padding: 10px 5px;
  border-radius: 10px;
}

.add-task-btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #11a461;
  color: ghostwhite;
  font-weight: 700;
}

/*Tasks Styles*/

.tasks-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks-list {
  list-style: none;
  padding: 10px 20px;
  border-radius: 1rem;
  background-color: #25292f;
  text-align: left;
  margin: 10px 0;
  width: 40%;
}

.tasks-list > li {
  padding: 10px 20px;
  background-color: #2b2f37;
  margin-bottom: 10px;
}

.tasks-list > li:hover {
  cursor: pointer;
}
